EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=<api_key>
EXPO_PUBLIC_CLERK_GOOGLE_WEB_CLIENT_ID=<client_id>
EXPO_PUBLIC_CLERK_GOOGLE_IOS_CLIENT_ID=<client_id>
EXPO_PUBLIC_CLERK_GOOGLE_IOS_URL_SCHEME=<url_scheme>